---
title: Blog
blog_post: False
---
{% extends "base.j2" %}

{% block content %}
<article class="asymetrical-columns-left reading-block clearfix">
<p>I write about the campaign, openlegend, rpg systems, procedural generation, and other nerd faire. There may be guest blog from time to time.</p>

<h2>Featured posts</h2>
<ul>
{% for post_filename in featured_posts %}
{% set post = site.content.resource_from_relative_path(
    resource.node.relative_path + "/" + post_filename) %}
    <li><a href="{{ post.full_url }}">{{ post.meta.title }}</a></li>
{% endfor %}
</ul>

<p><a href="{{ content_url("blog/archive.html") }}">Archive</a>
&ndash; if you're interested in older posts or looking for something specific.</p>
</article>

<article class="asymetrical-columns-right reading-block">
<h2>Latest posts</h2>

{% for res in site.content.walk_resources_sorted_by_latest()[0:5] %}
{% refer to res.relative_path as post %}

<article class="excerpt">
<h1><a href="{{ content_url(res.url) }}">{{ res.meta.title|typogrify }}</a></h1>
<p class="post-meta">
    Posted on
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    {{ res.meta.created.strftime('%Y-%m-%d') }}
    </time> in
    <span>{{ res.meta.category }}</span>
</p>

{% if post.excerpt %} {# Excerpt #}
    {% set res_url = content_url(res.url) %}
    {{ [post.excerpt, " [Read more](", res_url, ")"]
       |join("")|markdown|typogrify }}

{% else %} {# Whole article #}
    {{ post.full_article_content|markdown|typogrify }}
{% endif %}
</article>
{% endfor %}

<p>
    These were the latest posts. If you want to read more,
    please explore the
    <a href="{{ content_url("blog/archive.html") }}">archive</a>.
</p>
</article>
{% endblock %}
