{% extends "base.j2" %}

{% block content %}
<div id="intro">
    <h1>
        Sosaria Unbound<br></h1>
    <p class="roles">An <a href="http://www.openlegendrpg.com">OLRPG</a> Campaign</p>
    <ul class="contact-list clearfix">
        <li><a data-action="track-event" data-gacategory="Outgoing links" data-gaaction="Twitter link" data-galabel="From homepage" href="https://twitter.com/zach_wildfig">Twitter</a></li>
        <li><a data-action="track-event" data-gacategory="Outgoing links" data-gaaction="GitHub link" href="https://github.com/zach-">GitHub</a></li>
        <li><a data-action="track-event" data-gacategory="Outgoing links" data-gaaction="Twitch.tv Link" href="https://twitch.tv/failb0at">Twitch</a></li>
        <li><a data-action="track-event" data-gacategory="Outgoing links" data-gaaction="Campaign link" href="https://gitlab.com/failb0at">Docs</a></li>
    </ul>
    <img src="{{ media_url('img/hat.png') }}" alt="A sketch of a wizard's hat" />
</div>
<div class="grid-row clearfix">
    <div class="column-half">
        <h2>Latest posts</h2>
        {{ macros.render_latest_posts(count=5) }}
    </div>
    <div class="column-half">
        <h2>Featured Projects / Streams</h2>
        <p><a data-action="track-event" data-gacategory="Outgoing links"
            data-gaaction="Koibu"
            href="http://www.twitch.tv/koibu">
            Twitch Stream Feature: Koibu</a></p>
        <p>Neal Erickson aka Koibu is well known in the Dungeons and Dragons scene. I've learned a lot from his worldbuilding streams.</p>
        <br />

        <p><a data-action="track-event" data-gacategory="Outgoing links"
            data-gaaction="Koibu" href="https://www.twitch.tv/thethauglor">
            Twitch Stream Feature: Thauglor</a></p>
        <p>Another DM I follow regularly. He streams fairly often and has some great campaigns.</p>
        <br />

        <p><a href="{{ content_url('blog/why-openlegend.html') }}">
            Why OpenLegend RPG?</a></p>
        <p>An explanation of why the campaign was built on the the OpenLegend RPG system as opposed to more mature systems.</p>
        <br />
    </div>
</div>
{% endblock %}
